doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='StyleSheet' href='css/styles.css' type='text/css')
  title= `${title}`
  -data = data || {}

  if errors 
    ul 
      for error in errors 
        li= error.msg
form(action='.' style='border:1px solid #ccc' method="POST")
  .container
    h1 Sign Up
    p Please fill in this form to create an account.
    hr
    label(for='name')
      b Name
    input(
      type='text' 
      placeholder='Enter Name' 
      name='name' 
      required=''
      value=data.name
      )
    label(for='email')
      b Email
    input(
      type='text' 
      placeholder='Enter Email' 
      name='email' 
      required=''
      value=data.email
      )
    label(for='psw')
      b Password
    input(
      type='password' 
      placeholder='Enter Password' 
      name='psw' 
      required=''
      value=data.password
      )
    button(type='submit') Sign Up
    label
      input(type='checkbox' checked='checked' name='remember')
      |  Remember me
  .container(style='background-color:#f1f1f1')
    a(href='/login') Log In



//- doctype html
//- head
//-   meta(charset='UTF-8')
//-   meta(http-equiv='X-UA-Compatible' content='IE=edge')
//-   meta(name='viewport' content='width=device-width, initial-scale=1.0')
//-   link(rel='StyleSheet' href='css/styles.css' type='text/css')
//-   title= `${title}`
//-   -data = data || {}

//-   if errors 
//-     ul 
//-       for error in errors 
//-         li= error.msg
//- form(action='.' style='border:1px solid #ccc' method="POST")
//-   .container
//-     h1 Sign Up
//-     p Please fill in this form to create an account.
//-     hr
//-     label(for='email')
//-       b Email
//-     input(
//-       type='text' 
//-       placeholder='Enter Email' 
//-       name='email' 
//-       required=''
//-       value=data.email
//-       )
//-     label(for='psw')
//-       b Password
//-     input(
//-       type='password' 
//-       placeholder='Enter Password' 
//-       name='psw' 
//-       required=''
//-       value=data.password
//-       )
//-     .clearfix
//-       button.signinbtn(type='button') Sign In
//-       button.signupbtn(type='submit') Sign Up
//-     label#error-message
//- script.
//-   const urlParams = new URLSearchParams(window.location.search);
//-   const info = urlParams.get('info');
//-   if(info) {
//-   const errorMessage = document.getElementById("error-message");
//-   errorMessage.innerText = info;
//-   errorMessage.style.display = "block";
//-   }
